<aside>
	<div class="panel radius">
		<h3>Menu</h3>
		<ul class="accordion">


		</ul>
		{% for link in site.data.navigation %}

			{% if link.url contains 'http' %}
				{% assign domain = '' %}
				{% assign _baseurl = '' %}
			{% elsif link.url == '#' %}
				{% assign domain = '' %}
				{% assign _baseurl = site.baseurl %}
			{% else %}
				{% assign domain = site.url %}
				{% assign _baseurl = site.baseurl %}
			{% endif %}

			{% comment %}   If there are links for left side begin   {% endcomment %}
			{% if link.side == 'left' %}
				<li class="accordian-item" data-accordion-item>
					<a href="#" class="accordian-title">{{ link.title }}</a>
				</li>
				{% comment %}   If left side WITHOUT dropdown menu do   {% endcomment %}
				{% if link.dropdown == nil %}


				{% comment %}   If left side WITH dropdown menu do   {% endcomment %}
				{% else %}


				{% endif %}
			{% endif %}
		{% endfor %}


	</div>


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>

	<ul class="accordion" data-accordion>
		<li class="accordion-item is-active" data-accordion-item>
			<!-- Accordion tab title -->
			<a href="#" class="accordion-title">Accordion 1</a>

			<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
			<div class="accordion-content" data-tab-content>
				<p>Panel 1. Lorem ipsum dolor</p>
				<a href="#">Nowhere to Go</a>
			</div>
		</li>
		<!-- ... -->
	</ul>
</aside>